CompileFlags:
  Add: [
    "-std=c++20",
    "-Wall",
    "-Wextra",
    "-Wpedantic",
    "-Wshadow",
    "-Wconversion",
    "-Wsign-conversion",
    "-Wunused",
    "-Wunreachable-code",
    "-Wcast-align",
    "-Wcast-qual",
    "-Wold-style-cast",
    "-Woverloaded-virtual",
    "-Wnon-virtual-dtor",
    "-Wmissing-declarations",
    "-Wredundant-decls",
    "-Wundef",
    "-Wfloat-equal",
    "-Wformat=2"
  ]
  Compiler: clang++